= form_with model: @article do |f|
  - @article.errors.full_messages_for(:title).each do |message|
    .div
      = message
  
  - @article.errors.full_messages_for(:author).each do |message|
    .div
      = message
  
  - @article.errors.full_messages_for(:content).each do |message|
    .div
      = message

  = f.label :title, :class => "block text-sm font-medium"
  .mt-1.relative.rounded-md.shadow-sm.mb-3
    = f.text_field :title, :class => "focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
  
  = f.label :author, :class => "block text-sm font-medium"
  .mt-1.relative.rounded-md.shadow-sm.mb-3
    = f.text_field :author, :class => "focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"

  = f.label :content, :class => "block text-sm font-medium"
  .mt-1.relative.rounded-md.shadow-sm.mb-3
    = f.text_area :content, :class => "focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md", rows: "5"

  .mb-10.pb-7.border-b.border-black

  .flex.justify-between.gap-2
    = link_to "<- Back", articles_path, :class => "block text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm py-3 px-7 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    = f.submit :class => "block text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm py-3 px-7 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 cursor-pointer"
    