%h1= "Hello, World!"

%table
  %thead
    %tr
      %th= "Title"
      %th= "Author"
      %th= "Content"
      %th= "Actions"
  - @articles.each do |article|
    %tr
      %td
        = article.title
      %td
        = article.author
      %td
        = article.content.truncate(100)
      %td
        = link_to article_path(article.id) do
          View

= link_to "New Article", new_article_path