<h1>
  Hello, World!
</h1>

<table>
  <thead>
    <tr>
      <th> Title </th>
      <th> Author </th>
      <th> Content </th>
      <th> Actions </th>
    </tr>
  </thead>
  <% @articles.each do |article| %>
    <tr>
      <td> <%= article.title %> </td>
      <td> <%= article.author %> </td>
      <td> <%= article.content.truncate(100) %> </td>
      <td>
        <%= link_to edit_article_path(article.id) do %>
          Edit
        <% end %>
        |
        <%= link_to article_path(article.id), method: :delete, data: { confirm: "Are you sure?" } do %>
          Delete
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Article', new_article_path %>


