.h-full.py-12.px-12{ class: "w-4/5" }
  .block.mx-auto
    %div{ role: "list"}
      - @articles.each do |article|
        %div{ role: "listitem"}
          = link_to root_path do
            %h1{ class: "mt-0 mb-2.5 text-3xl hover:text-gray-600" }
              = article.title

        %div{ class: "my-2.5 text-sm flex" }
          .mr-2.tracking-wide
            = article.created_at.strftime("%B %d, %Y")
          .mr-2.tracking-wide
            |
          .mr-2.tracking-wide
            = article.author
        
        %p{ class: "mb-2.5 mt-0 font-light text-base" }
          = truncate(article.content, :length => 250, :separator => ' ')

        = link_to "Continue reading ->", article, class: "py-2 px-3 border-2 border-gray-400 rounded-xl hover:border-gray-600"

        .mb-10.pb-10.border-b.border-black
            
          
          
